@use "../../../cssUtils" as cssUtils;

$center-align-spacing: calc(32px + cssUtils.$space-s);

.openui-shell-thread-composer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto cssUtils.$space-m;
  padding: 0 $center-align-spacing;

  .openui-shell-container--mobile & {
    margin: 0;
    padding: cssUtils.$space-m 14px;
  }

  .openui-shell-thread-container--artifact-active & {
    padding-left: 0;
    padding-right: cssUtils.$space-m;
  }

  &__input-wrapper {
    background-color: cssUtils.$foreground;
    border: 1px solid cssUtils.$border-interactive;
    border-radius: cssUtils.$radius-2xl;
    box-shadow: cssUtils.$shadow-s;
    overflow: clip;
    display: flex;
    flex-direction: column;
    gap: cssUtils.$space-s;
    padding: cssUtils.$space-s;
  }

  &__input {
    scrollbar-width: thin;
    scrollbar-color: cssUtils.$elevated transparent;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: cssUtils.$elevated;
      border-radius: cssUtils.$radius-full;
    }

    padding: 0 cssUtils.$space-3xs;
    resize: none;
    max-height: 200px;
    outline: none;
    border: none;
    background: transparent;
    overflow-y: auto;
    @include cssUtils.typography(body, default);
    color: cssUtils.$text-neutral-primary;

    &::placeholder {
      color: cssUtils.$text-neutral-secondary;
    }
  }

  &__action-bar {
    display: flex;
    align-items: center;
  }

  &__submit-button {
    margin-left: auto;
  }
}
