@use "../../../cssUtils" as cssUtils;

.openui-shell-desktop-welcome-composer {
  background-color: cssUtils.$foreground;
  border: 1px solid cssUtils.$border-interactive;
  border-radius: cssUtils.$radius-2xl;
  box-shadow: cssUtils.$shadow-s;
  overflow: clip;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$space-m;
  padding: cssUtils.$space-m;
  width: 100%;
  max-width: 800px;

  &__input {
    scrollbar-width: thin;
    scrollbar-color: cssUtils.$elevated transparent;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: cssUtils.$elevated;
      border-radius: cssUtils.$radius-full;
    }

    padding: 0 cssUtils.$space-3xs;
    resize: none;
    max-height: 200px;
    min-height: 24px;
    outline: none;
    border: none;
    background: transparent;
    overflow-y: auto;
    @include cssUtils.typography(body, default);
    color: cssUtils.$text-neutral-primary;

    &::placeholder {
      color: cssUtils.$text-neutral-secondary;
    }
  }

  &__action-bar {
    display: flex;
    align-items: center;
  }

  &__submit-button {
    margin-left: auto;
  }
}
