@use "../../../cssUtils" as cssUtils;

.openui-bar-chart-condensed-container {
  display: flex;
  flex-direction: column;
}

.openui-bar-chart-condensed-container-inner {
  display: flex;
  width: 100%;
}

.openui-bar-chart-condensed-y-axis-container {
  flex-shrink: 0;
}

.openui-bar-chart-condensed {
  width: 100%;
  height: 100%;

  &-x-axis-label {
    @include cssUtils.typography(label, extra-small);
    color: cssUtils.$text-neutral-secondary;
    text-align: center;
  }

  &-y-axis-label {
    @include cssUtils.typography(label, extra-small);
    color: cssUtils.$text-neutral-secondary;
    padding-bottom: cssUtils.$space-s;
  }
}
