@use "../../cssUtils.scss" as cssUtils;

.openui-label {
  box-sizing: border-box;
  @include cssUtils.typography(primary, default);
  color: cssUtils.$text-neutral-primary;

  &-disabled {
    color: cssUtils.$text-neutral-tertiary;
    cursor: not-allowed;
  }
}

.openui-label-required-asterisk {
  margin-left: cssUtils.$space-3xs;
}
