@use "../../cssUtils" as cssUtils;

.openui-toggle-item {
  box-sizing: border-box;
  @include cssUtils.typography(body, default);
  padding: cssUtils.$space-m;
  border-radius: cssUtils.$radius-m;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  gap: cssUtils.$space-2xs;
  align-items: center;
  background-color: cssUtils.$foreground;
  color: cssUtils.$text-neutral-primary;
  border-color: cssUtils.$border-default;
  &:hover {
    background-color: cssUtils.$sunk;
  }
  &:disabled {
    color: cssUtils.$text-neutral-tertiary;
    border-color: cssUtils.$border-default;
    cursor: not-allowed;
  }

  &[data-state="on"] {
    background-color: cssUtils.$interactive-accent-default;
    color: cssUtils.$text-accent-primary;
    &:hover {
      background-color: cssUtils.$interactive-accent-hover;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
