@use "../../cssUtils" as cssUtils;

.openui-textarea {
  @include cssUtils.typography(body, default);
  box-sizing: border-box;
  width: 100%;
  border: 1px solid cssUtils.$border-interactive;
  border-radius: cssUtils.$radius-xl;
  padding: cssUtils.$space-s cssUtils.$space-m;
  gap: cssUtils.$space-xs;
  background-color: cssUtils.$highlight-subtle;
  color: cssUtils.$text-neutral-primary;
  outline: none;
  resize: none;
  transition:
    box-shadow 0.16s ease,
    border-color 0.16s ease,
    background-color 0.16s ease;

  &::placeholder {
    color: cssUtils.$text-neutral-secondary;
  }

  &:focus {
    box-shadow: 0 0 0 2.5px cssUtils.$border-default;
  }

  &:not(.openui-textarea-error):focus {
    border-color: cssUtils.$border-interactive-emphasis;
  }

  &:disabled {
    background-color: cssUtils.$sunk;
    border: 1px solid cssUtils.$border-default;
    cursor: not-allowed;
    color: cssUtils.$text-neutral-tertiary;
  }

  &:not(:focus):not(:disabled):not(.openui-textarea-error):hover {
    border-color: cssUtils.$border-interactive;
  }

  &-error {
    border-color: cssUtils.$border-danger-emphasis;
  }
}
