@use "../../cssUtils" as cssUtils;
@use "./thread.scss";
@use "./components/composer.scss";
@use "./header.scss";
@use "./conversationStarter.scss";
@use "./welcomeScreen.scss";

.openui-copilot-shell-container {
  display: flex;
  position: relative;
  height: 100dvh;
  width: 530px;
  overflow: hidden;

  border: 1px solid cssUtils.$border-default;
  border-width: 0 1px;

  background: cssUtils.$chat-container-bg;
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }
}
