@use "../../cssUtils" as cssUtils;

.openui-copilot-shell-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: cssUtils.$space-m cssUtils.$space-l;
  border-bottom: 1px solid cssUtils.$border-default;
  background-color: cssUtils.$foreground;
}

.openui-copilot-shell-header-logo-container {
  display: flex;
  align-items: center;
  gap: cssUtils.$space-s;
  @include cssUtils.typography(title, medium);
}

.openui-copilot-shell-header-logo {
  width: 32px;
  height: 32px;
  border-radius: cssUtils.$radius-m;
}

.openui-copilot-shell-header-agent-name {
  @include cssUtils.typography(title, medium);
  color: cssUtils.$text-neutral-primary;
}

.openui-copilot-shell-header-right-content {
  display: flex;
  align-items: center;
  gap: cssUtils.$space-s;
}
