@use "../../../../cssUtils" as cssUtils;

.openui-chart-legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: cssUtils.$space-s;
}

.openui-chart-legend-axis-label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: cssUtils.$space-m;
  flex-wrap: wrap;
}

.openui-chart-legend-axis-label {
  @include cssUtils.typography(label, extra-small);
  color: cssUtils.$text-neutral-secondary;

  &-text {
    color: cssUtils.$text-neutral-primary;
  }
}

.openui-chart-legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: cssUtils.$space-m;
  text-transform: capitalize;
  flex-wrap: wrap;

  &--bottom {
    padding-top: cssUtils.$space-m;
  }

  &--collapsed {
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &--expanded {
    flex-wrap: wrap;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: cssUtils.$space-xs;

    svg {
      height: 10px;
      width: 10px;
      color: cssUtils.$text-neutral-primary;
    }

    &-indicator {
      height: 10px;
      width: 10px;
      flex-shrink: 0;
      border-radius: cssUtils.$radius-2xs;
      background-color: var(--color-bg);
    }

    &-label {
      @include cssUtils.typography(label, extra-small);
      color: cssUtils.$text-neutral-primary;
    }
  }

  &-toggle-button {
    @include cssUtils.typography(label, extra-small);
    color: cssUtils.$text-neutral-primary;
    padding-left: cssUtils.$space-2xs;
    padding-right: cssUtils.$space-3xs;

    &-icon {
      width: 1em;
      height: 1em;
      color: cssUtils.$text-neutral-primary;
    }
  }

  &-item-label-container {
    display: flex;
    align-items: center;
    gap: cssUtils.$space-2xs;
  }

  &-item-percentage {
    @include cssUtils.typography(label, extra-small);
    color: cssUtils.$text-neutral-secondary;
  }
}
