.codeBlockWrapper {
  border: 1px solid var(--border-default);
  border-radius: var(--radius-2xl);
  overflow-x: auto;
}

.codeBlockWrapperDark {
  background: var(--swatch-neutral-950);
}

.codeBlockWrapperLight {
  background: var(--swatch-white);
}

.codeBlock {
  margin: 0;
  padding: 20px 24px;
  font: var(--text-code-sm);
  background: transparent !important;
}

.codeLine {
  white-space: pre;
}
