@use "../../cssUtils" as cssUtils;

.openui-radio-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$space-xs;
  border: 1px solid;
  border-radius: cssUtils.$radius-xl;

  &-clear {
    border-color: transparent;
    background-color: transparent;
    padding: cssUtils.$space-000;
  }

  &-card {
    border-color: cssUtils.$border-default;
    padding: cssUtils.$space-m;
  }

  &-sunk {
    border-color: cssUtils.$border-default;
    background-color: cssUtils.$sunk;
    padding: cssUtils.$space-m;
  }
}
