@use "../../cssUtils" as cssUtils;

.openui-steps-container {
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.openui-steps {
  display: flex;
  flex-direction: column;
}

.openui-step-item {
  display: flex;
  position: relative;
  gap: cssUtils.$space-m;
}

.openui-step-connector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.openui-step-number {
  padding: cssUtils.$space-2xs 0px cssUtils.$space-2xs 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.openui-step-number-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: cssUtils.$elevated;
  color: cssUtils.$text-neutral-secondary;
  border: 1px solid cssUtils.$border-default;
  box-sizing: border-box;
  @include cssUtils.typography(label, small);
}

.openui-connector-line {
  width: 1px;
  flex-grow: 1;
  z-index: 1;
  background-color: cssUtils.$sunk;
  .openui-step-item:last-child & {
    display: none;
  }
}

.openui-step-content {
  padding-top: cssUtils.$space-2xs;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$space-3xs;
  margin-bottom: cssUtils.$space-l;

  .openui-step-item:last-child & {
    margin-bottom: 0;
  }
}

.openui-step-title {
  @include cssUtils.typography(title, default);
  color: cssUtils.$text-neutral-secondary;
}

.openui-step-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(cssUtils.$space-m + 2px);
  @include cssUtils.typography(body, default);
}
