@use "../../cssUtils.scss" as cssUtils;

.openui-image {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  overflow: clip;
  border-radius: cssUtils.$radius-m;
  border: 1px solid cssUtils.$border-default;
  background-color: cssUtils.$foreground;

  &-fit {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &-fill {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
