.blocksLayout {
  position: relative;
  padding: 0 var(--openui-space-xl);
}

.blocksContent {
  min-width: 0;
  margin-left: 264px;
}

@media (max-width: 1050px) {
  .blocksContent {
    margin-left: 0;
  }
}
