@use "../../cssUtils" as cssUtils;

.openui-shell-mobile-header {
  display: none;

  .openui-shell-container--mobile & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: cssUtils.$space-m cssUtils.$space-l;
    background-color: cssUtils.$foreground;
  }
}

.openui-shell-mobile-header-logo-container {
  display: flex;
  align-items: center;
  gap: cssUtils.$space-m;
  @include cssUtils.typography(title, medium);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.openui-shell-mobile-header-logo {
  width: 32px;
  height: 32px;
  border-radius: cssUtils.$radius-m;
}

.openui-shell-mobile-header-agent-name {
  @include cssUtils.typography(title, medium);
  color: cssUtils.$text-neutral-primary;
}

.openui-shell-mobile-header-actions {
  display: flex;
  align-items: center;
  gap: cssUtils.$space-s;
}
