@use "../../cssUtils" as cssUtils;

@keyframes l7 {
  33% {
    background-size:
      calc(100% / 3) 0%,
      calc(100% / 3) 100%,
      calc(100% / 3) 100%;
  }
  50% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 0%,
      calc(100% / 3) 100%;
  }
  66% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 100%,
      calc(100% / 3) 0%;
  }
}

.openui-message-loading-container {
  border-radius: cssUtils.$space-xl;
  border: 1px solid cssUtils.$border-default;
  padding: cssUtils.$space-s;
  height: 32px;
  display: flex;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.openui-message-loading {
  width: 24px;
  aspect-ratio: 4;
  --_g: no-repeat
    radial-gradient(circle closest-side, #{cssUtils.$text-neutral-tertiary} 90%, transparent 90%);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 750ms infinite linear;
}
