@use "../../../../cssUtils.scss" as cssUtils;

.openui-portal-tooltip {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
}

.openui-chart-tooltip {
  display: grid;
  align-items: start;
  min-width: 128px;
  max-width: 240px;
  gap: cssUtils.$space-xs;
  padding: cssUtils.$space-xs;
  color: cssUtils.$text-neutral-primary;
  @include cssUtils.typography(label, extra-small);
  border-radius: cssUtils.$radius-l;
  border: 1px solid cssUtils.$border-default;
  background-color: cssUtils.$foreground;
  box-shadow: cssUtils.$shadow-s;
  text-transform: capitalize;

  &-label {
    @include cssUtils.typography(label, extra-small);
    color: cssUtils.$text-neutral-primary;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &-label-heavy {
    @include cssUtils.typography(label, extra-small-heavy);
    color: cssUtils.$text-neutral-primary;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  // this is the content of the tooltip, where the items of the of each data point is rendered,
  // todo: remove commented style once the review is done.

  &-content {
    display: grid;
    align-items: start;
    min-width: 128px;
    gap: cssUtils.$space-xs;
    // padding: cssUtils.$space-xs;
    color: cssUtils.$text-neutral-primary;
    @include cssUtils.typography(label, extra-small);
    background-color: cssUtils.$foreground;
    text-transform: capitalize;

    &-item {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: cssUtils.$space-xs;
      align-items: flex-start;
      &--dot {
        align-items: center;
      }

      svg {
        height: 10px;
        width: 10px;
        color: cssUtils.$text-neutral-primary;
      }
    }
    // this portion is responsible for styling the colored box or other indicators like line, dashed, etc.
    &-indicator {
      flex-shrink: 0;
      border-radius: cssUtils.$radius-2xs;

      &--dot {
        height: 10px;
        width: 10px;
        background-color: var(--color-bg);
        border-color: var(--color-border);
      }

      &--line {
        width: 4px;
        background-color: var(--color-bg);
        border-color: var(--color-border);
      }

      &--dashed {
        width: 0;
        border: 1.5px dashed var(--color-border);
        background-color: transparent;
      }

      &--nested-dashed {
        margin: cssUtils.$space-3xs 0;
      }
      &--two-items {
        margin-top: 2px;
      }
    }

    &-value-wrapper {
      display: flex;
      flex: 1;
      gap: cssUtils.$space-s;
      justify-content: space-between;
      line-height: 1;

      &--nested {
        align-items: flex-end;
      }

      &--standard {
        align-items: center;
      }
      &--vertical {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: cssUtils.$space-2xs;
      }
    }

    &-label {
      display: grid;
      gap: cssUtils.$space-xs;
      color: cssUtils.$text-neutral-secondary;
      @include cssUtils.typography(label, extra-small);

      span {
        display: block;
        overflow-wrap: break-word;
        word-break: break-word;
      }
    }

    &-value {
      font-variant-numeric: tabular-nums;
      color: cssUtils.$text-neutral-primary;
      @include cssUtils.typography(label, extra-small);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &--percentage {
        padding-left: cssUtils.$space-s;
      }
    }

    &-item-separator {
      width: 100%;
      height: 1px;
      background-color: cssUtils.$border-default;
      margin: 0;
    }
    &-item:last-child &-item-separator {
      display: none;
    }

    &-view-more {
      @include cssUtils.typography(label, extra-small);
      color: cssUtils.$text-neutral-primary;
      text-align: left;
      overflow-wrap: break-word;
      word-break: break-word;
    }
  }
}
