@use "../../cssUtils" as cssUtils;

.openui-text-callout {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: cssUtils.$space-xs;
  padding: 0 16px 0 16px;
  box-sizing: border-box;

  &-neutral {
    border-left: 2px solid cssUtils.$border-interactive-selected;
    color: cssUtils.$text-neutral-primary;
    .openui-text-callout-content-title {
      color: cssUtils.$text-neutral-primary;
    }
  }

  &-info {
    border-left: 2px solid cssUtils.$border-info-emphasis;
    color: cssUtils.$text-info-primary;
  }

  &-warning {
    border-left: 2px solid cssUtils.$border-alert-emphasis;
    color: cssUtils.$text-alert-primary;
  }

  &-success {
    border-left: 2px solid cssUtils.$border-success-emphasis;
    color: cssUtils.$text-success-primary;
  }

  &-danger {
    border-left: 2px solid cssUtils.$border-danger-emphasis;
    color: cssUtils.$text-danger-primary;
  }

  &-icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: cssUtils.$space-3xs;
  }

  &-icon-inner {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    &-title {
      @include cssUtils.typography(body, heavy);
    }

    &-description {
      @include cssUtils.typography(body, default);
      color: cssUtils.$text-neutral-primary;
    }
  }
}
