@use "../../../cssUtils" as cssUtils;

.openui-radar-chart-container-wrapper {
  display: flex;
  position: relative;
  gap: 20px;
  &.layout-column {
    flex-direction: column;
    align-items: center;
  }
}

.openui-radar-chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  .layout-column & {
    flex: 1;
    min-height: 0;
  }
}

.openui-radar-chart-container-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openui-radar-chart {
  .recharts-polar-grid-concentric-polygon {
    stroke-width: 1;
    stroke: cssUtils.$border-interactive;
  }

  .recharts-polar-grid-angle line {
    stroke: cssUtils.$border-interactive;
  }
}

.openui-chart-polar-angle-axis-label {
  pointer-events: none;
  @include cssUtils.typography(label, 2-extra-small);
  color: cssUtils.$text-neutral-secondary;
  white-space: nowrap;
}
