@use "../../cssUtils" as cssUtils;

.openui-checkbox-item-container {
  display: flex;
  align-items: flex-start;
  gap: cssUtils.$space-s;
  padding: cssUtils.$space-3xs cssUtils.$space-000;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.openui-checkbox-item-root {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: cssUtils.$radius-xs;
  border: 1px solid cssUtils.$border-interactive;
  cursor: pointer;
  margin-top: cssUtils.$space-2xs;
  background-color: transparent;

  &[data-state="checked"] {
    background-color: cssUtils.$interactive-accent-default;
    color: cssUtils.$text-neutral-primary;
  }

  &:not(:disabled):not([data-state="checked"]):hover {
    border-color: cssUtils.$border-interactive;
    background-color: cssUtils.$sunk;
    color: cssUtils.$text-neutral-secondary;
  }

  &:disabled {
    cursor: not-allowed;
    color: cssUtils.$text-neutral-tertiary;
  }
}

.openui-checkbox-item-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: cssUtils.$text-accent-primary;
}

.openui-checkbox-item-content {
  display: flex;
  flex-direction: column;
}

.openui-checkbox-item-label {
  flex: 1;
  @include cssUtils.typography(primary, default);
  color: cssUtils.$text-neutral-primary;
  cursor: pointer;
  &:disabled {
    color: cssUtils.$text-neutral-tertiary;
    cursor: not-allowed;
  }
}

.openui-checkbox-item-description {
  @include cssUtils.typography(body, default);
  color: cssUtils.$text-neutral-secondary;
}
