@use "../../cssUtils" as cssUtils;

.openui-follow-up-item {
  @include cssUtils.button-reset;
  @include cssUtils.typography(primary, default);
  box-sizing: border-box;
  padding: cssUtils.$space-s cssUtils.$space-000;
  border-bottom: 1px solid cssUtils.$border-default;
  background-color: transparent;
  gap: cssUtils.$space-s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: cssUtils.$text-neutral-primary;
  cursor: pointer;
  text-align: left;
  &-icon {
    size: 16px;
  }
  &-text {
    flex: 1;
    white-space: break-spaces;
    word-break: break-word;
    max-width: 100%;
    text-align: left;
    color: cssUtils.$text-neutral-primary;
  }
  &:last-child {
    border-bottom: none;
  }
}
