@use "../../cssUtils" as cssUtils;

.openui-buttons {
  display: flex;
  width: 100%;
  gap: cssUtils.$space-m;
  box-sizing: border-box;

  &-horizontal {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-vertical {
    flex-direction: column;
  }
}
