@use "../../../../cssUtils.scss" as cssUtils;

.openui-chart-vertical-scroll {
  &-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: calc(100% - 44px);
    flex-shrink: 0;
    padding-left: cssUtils.$space-2xs;
  }

  &-button {
    background-color: cssUtils.$foreground;
    pointer-events: auto;

    &:hover {
      background-color: cssUtils.$foreground;
    }

    &--disabled {
      visibility: hidden;
      cursor: not-allowed;
      transition: visibility 0.1s linear;
    }

    &--SideBarTooltip {
      margin-right: 190px;
    }
  }
}
