@use "../../../../cssUtils" as cssUtils;

.openui-chart-x-axis-tick-multi-line {
  margin: 0;
  padding: 0;
  @include cssUtils.typography(label, extra-small);
  color: cssUtils.$text-neutral-secondary;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  min-width: 0;
}

.openui-chart-x-axis-tick-single-line {
  @include cssUtils.typography(label, extra-small);
  color: cssUtils.$text-neutral-secondary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}
