@use "../../../../cssUtils" as cssUtils;

.openui-date-picker-renderer-floating-menu .openui-date-picker-select-content-months {
  padding: cssUtils.$space-2xs;
  background-color: cssUtils.$foreground;
  border: 1px solid cssUtils.$border-interactive;
  border-radius: cssUtils.$radius-m;
  box-shadow: cssUtils.$shadow-m;
}

.openui-date-picker-renderer-floating-menu .openui-date-picker-select-content-years {
  padding: cssUtils.$space-2xs;
  background-color: cssUtils.$foreground;
  border: 1px solid cssUtils.$border-interactive;
  border-radius: cssUtils.$radius-m;
  box-shadow: cssUtils.$shadow-m;

  .openui-date-picker-select-viewport {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: cssUtils.$space-2xs;

    &-mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .openui-date-picker-select-item {
    @include cssUtils.typography(body, default);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: cssUtils.$radius-s;
    padding: cssUtils.$space-s cssUtils.$space-m;
    color: cssUtils.$text-neutral-primary;

    &:hover {
      background-color: cssUtils.$highlight-subtle;
    }

    &[data-highlighted] {
      background-color: cssUtils.$highlight;
      color: cssUtils.$text-neutral-primary;
    }
  }
}
.openui-date-picker-renderer-floating-menu .openui-date-picker-select-trigger {
  @include cssUtils.typography(body, default);
  min-height: calc(cssUtils.$space-l + cssUtils.$space-s);
  padding: calc(cssUtils.$space-2xs - 1px) cssUtils.$space-s;
  border: 1px solid transparent;
  border-radius: cssUtils.$radius-s;
  background-color: transparent;
  color: cssUtils.$text-neutral-primary;

  &:hover {
    background-color: cssUtils.$highlight-subtle;
    border-color: cssUtils.$border-interactive;
  }

  &:focus-visible {
    outline: 2px solid cssUtils.$border-accent;
    outline-offset: cssUtils.$space-3xs;
  }

  &[data-state="open"] {
    background-color: cssUtils.$highlight-subtle;
    border-color: cssUtils.$border-interactive;
  }
}
