@use "../../cssUtils" as cssUtils;

.openui-tag {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  gap: cssUtils.$space-2xs;
  @include cssUtils.typography(label, small);

  &-icon {
    display: flex;
    align-items: center;
    & svg {
      stroke-width: 2.5;
      width: 14px;
      height: 14px;
    }
  }

  &-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-sm {
    padding: cssUtils.$space-2xs cssUtils.$space-xs;
    border-radius: cssUtils.$radius-s;
    height: 24px;
  }

  &-md {
    padding: cssUtils.$space-xs cssUtils.$space-s;
    border-radius: cssUtils.$radius-s;
    gap: cssUtils.$space-xs;
    height: 32px;
  }

  &-lg {
    padding: cssUtils.$space-s cssUtils.$space-m;
    border-radius: cssUtils.$radius-m;
    gap: cssUtils.$space-xs;
    height: 36px;
  }

  &-neutral {
    background-color: cssUtils.$sunk;
    color: cssUtils.$text-neutral-primary;
  }

  &-info {
    background-color: cssUtils.$info-background;
    color: cssUtils.$text-info-primary;
  }

  &-success {
    background-color: cssUtils.$success-background;
    color: cssUtils.$text-success-primary;
  }

  &-warning {
    background-color: cssUtils.$alert-background;
    color: cssUtils.$text-alert-primary;
  }

  &-danger {
    background-color: cssUtils.$danger-background;
    color: cssUtils.$text-danger-primary;
  }
}
