@use "../../cssUtils" as cssUtils;

/* Code Block Styles */
.openui-code-block-wrapper {
  position: relative;

  &:hover {
    .openui-code-block-copy-button {
      opacity: 1;
    }
  }

  .openui-code-block-copy-button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    &.openui-code-block-copy-button-copied {
      color: cssUtils.$text-success-primary;
      background-color: cssUtils.$success-background;
    }
  }

  .openui-code-block-syntax-highlighter {
    margin: 0 !important;
    border-radius: 0.5rem;
  }
}
