@use "../../cssUtils" as cssUtils;

.openui-bottom-tray-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: cssUtils.$space-m;
  border-radius: cssUtils.$radius-l cssUtils.$radius-l 0 0;

  // Mobile
  @media (max-width: 768px) {
    border-radius: 0;
  }
}

.openui-bottom-tray-header-logo-container {
  display: flex;
  align-items: center;
  gap: cssUtils.$space-s;
  @include cssUtils.typography(title, medium);
}

.openui-bottom-tray-header-logo {
  width: 32px;
  height: 32px;
  border-radius: cssUtils.$radius-m;
}

.openui-bottom-tray-header-agent-name {
  @include cssUtils.typography(title, medium);
  color: cssUtils.$text-neutral-primary;
}

.openui-bottom-tray-header-actions {
  display: flex;
  align-items: center;
  gap: cssUtils.$space-s;
}
