:root {
  /* Border radius scale */
  --radius-none: 0;
  --radius-3xs: 1px;
  --radius-2xs: 2px;
  --radius-xs: 4px;
  --radius-s: 6px;
  --radius-m: 8px;
  --radius-l: 10px;
  --radius-xl: 12px;
  --radius-2xl: 14px;
  --radius-3xl: 16px;
  --radius-4xl: 20px;
  --radius-5xl: 24px;
  --radius-6xl: 28px;
  --radius-7xl: 32px;
  --radius-8xl: 40px;
  --radius-9xl: 48px;
  --radius-full: 9999px;
}
