:root {
  /* Surface colors */
  --background: var(--swatch-neutral-100);
  --foreground: var(--swatch-white);
  --popover-background: var(--swatch-white);
  --sunk-light: var(--swatch-black-a02);
  --sunk: var(--swatch-black-a04);
  --sunk-deep: var(--swatch-black-a08);
  --elevated-light: var(--swatch-black-a04);
  --elevated: var(--swatch-black-a08);
  --elevated-strong: var(--swatch-black-a16);
  --elevated-intense: var(--swatch-black-a32);
  --overlay: var(--swatch-black-a24);
  --highlight-subtle: var(--swatch-black-a04);
  --highlight: var(--swatch-black-a08);
  --highlight-strong: var(--swatch-black-a16);
  --highlight-intense: var(--swatch-black-a32);
  --inverted-background: var(--swatch-neutral-900);
  --info-background: var(--swatch-blue-500);
  --success-background: var(--swatch-green-600);
  --alert-background: var(--swatch-yellow-400);
  --danger-background: var(--swatch-red-600);
  --purple-background: var(--swatch-purple-500);
  --pink-background: var(--swatch-pink-500);

  /* Text / Neutral */
  --text-neutral-primary: var(--swatch-black);
  --text-neutral-secondary: var(--swatch-black-a50);
  --text-neutral-tertiary: var(--swatch-black-a20);
  --text-neutral-link: var(--swatch-black);

  --text-brand: var(--swatch-black);

  --text-white: var(--swatch-white);
  --text-black: var(--swatch-black);

  /* Text / Accent */
  --text-accent-primary: var(--swatch-white);
  --text-accent-secondary: var(--swatch-white-a50);
  --text-accent-tertiary: var(--swatch-white-a20);

  /* Text / Success */
  --text-success-primary: var(--swatch-green-700);
  --text-success-inverted: var(--swatch-green-100);

  /* Text / Alert */
  --text-alert-primary: var(--swatch-yellow-800);
  --text-alert-inverted: var(--swatch-yellow-100);

  /* Text / Danger */
  --text-danger-primary: var(--swatch-red-700);
  --text-danger-secondary: var(--swatch-red-400);
  --text-danger-tertiary: var(--swatch-red-300);

  /* Text / Danger / Inverted */
  --text-danger-inverted-primary: var(--swatch-white);
  --text-danger-inverted-secondary: var(--swatch-white-a40);
  --text-danger-inverted-tertiary: var(--swatch-white-a20);

  /* Text / Info */
  --text-info-primary: var(--swatch-blue-800);
  --text-info-inverted: var(--swatch-blue-100);

  /* Text / Pink */
  --text-pink-primary: var(--swatch-pink-800);
  --text-pink-inverted: var(--swatch-pink-100);

  /* Text / Purple */
  --text-purple-primary: var(--swatch-purple-800);
  --text-purple-inverted: var(--swatch-purple-100);

  /* Interactive / Brand */
  --interactive-accent-default: var(--swatch-black);
  --interactive-accent-hover: var(--swatch-black-a80);
  --interactive-accent-disabled: var(--swatch-black-a40);
  --interactive-accent-pressed: var(--swatch-black);

  /* Interactive / Destructive */
  --interactive-destructive-default: var(--swatch-red-600-a02);
  --interactive-destructive-hover: var(--swatch-red-600-a08);
  --interactive-destructive-disabled: var(--swatch-red-600-a02);
  --interactive-destructive-pressed: var(--swatch-red-600-a10);

  /* Interactive / Destructive / Accent */
  --interactive-destructive-accent-default: var(--swatch-red-600);
  --interactive-destructive-accent-hover: var(--swatch-red-500);
  --interactive-destructive-accent-pressed: var(--swatch-red-700);
  --interactive-destructive-accent-disabled: var(--swatch-red-600-a40);

  /* Border */
  --border-default: var(--swatch-black-a06);
  --border-interactive: var(--swatch-black-a10);
  --border-interactive-emphasis: var(--swatch-black-a30);
  --border-interactive-selected: var(--swatch-neutral-950);
  --border-accent: var(--swatch-white-a08);
  --border-accent-emphasis: var(--swatch-white-a30);
  --border-accent-selected: var(--swatch-white);
  --border-info: var(--swatch-blue-500-a08);
  --border-info-emphasis: var(--swatch-blue-600);
  --border-alert: var(--swatch-yellow-400-a08);
  --border-alert-emphasis: var(--swatch-yellow-600);
  --border-success: var(--swatch-green-600-a08);
  --border-success-emphasis: var(--swatch-green-600);
  --border-danger: var(--swatch-red-600-a08);
  --border-danger-emphasis: var(--swatch-red-600);
}

:root[data-theme="dark"] {
  /* Surface colors */
  --background: #0b0b0f;
  --foreground: var(--swatch-neutral-800);
  --popover-background: var(--swatch-neutral-800);
  --sunk-light: var(--swatch-white-a02);
  --sunk: var(--swatch-white-a04);
  --sunk-deep: var(--swatch-white-a08);
  --elevated-light: var(--swatch-white-a04);
  --elevated: var(--swatch-white-a08);
  --elevated-strong: var(--swatch-white-a16);
  --elevated-intense: var(--swatch-white-a32);
  --overlay: var(--swatch-black-a50);
  --highlight-subtle: var(--swatch-white-a04);
  --highlight: var(--swatch-white-a08);
  --highlight-strong: var(--swatch-white-a16);
  --highlight-intense: var(--swatch-white-a30);
  --inverted-background: var(--swatch-neutral-50);
  --info-background: var(--swatch-blue-500);
  --success-background: var(--swatch-green-600);
  --alert-background: var(--swatch-yellow-400);
  --danger-background: var(--swatch-red-600);
  --purple-background: var(--swatch-purple-500);
  --pink-background: var(--swatch-pink-500);

  /* Text / Neutral */
  --text-neutral-primary: #e2e1e6;
  --text-neutral-secondary: var(--swatch-white-a50);
  --text-neutral-tertiary: var(--swatch-white-a20);
  --text-neutral-link: #e2e1e6;

  --text-brand: #e2e1e6;

  --text-white: var(--swatch-white);
  --text-black: var(--swatch-black);

  /* Text / Accent */
  --text-accent-primary: var(--swatch-black);
  --text-accent-secondary: var(--swatch-black-a50);
  --text-accent-tertiary: var(--swatch-black-a20);

  /* Text / Success */
  --text-success-primary: var(--swatch-green-700);
  --text-success-inverted: var(--swatch-green-100);

  /* Text / Alert */
  --text-alert-primary: var(--swatch-yellow-800);
  --text-alert-inverted: var(--swatch-yellow-100);

  /* Text / Danger */
  --text-danger-primary: var(--swatch-red-700);
  --text-danger-secondary: var(--swatch-red-400);
  --text-danger-tertiary: var(--swatch-red-300);

  /* Text / Danger / Inverted */
  --text-danger-inverted-primary: var(--swatch-white);
  --text-danger-inverted-secondary: var(--swatch-white-a40);
  --text-danger-inverted-tertiary: var(--swatch-white-a20);

  /* Text / Info */
  --text-info-primary: var(--swatch-blue-800);
  --text-info-inverted: var(--swatch-blue-100);

  /* Text / Pink */
  --text-pink-primary: var(--swatch-pink-800);
  --text-pink-inverted: var(--swatch-pink-100);

  /* Text / Purple */
  --text-purple-primary: var(--swatch-purple-800);
  --text-purple-inverted: var(--swatch-purple-100);

  /* Interactive / Brand */
  --interactive-accent-default: var(--swatch-white);
  --interactive-accent-hover: var(--swatch-white-a80);
  --interactive-accent-disabled: var(--swatch-white-a40);
  --interactive-accent-pressed: var(--swatch-white);

  /* Interactive / Destructive */
  --interactive-destructive-default: var(--swatch-red-600-a02);
  --interactive-destructive-hover: var(--swatch-red-600-a08);
  --interactive-destructive-disabled: var(--swatch-red-600-a02);
  --interactive-destructive-pressed: var(--swatch-red-600-a10);

  /* Interactive / Destructive / Accent */
  --interactive-destructive-accent-default: var(--swatch-red-600);
  --interactive-destructive-accent-hover: var(--swatch-red-500);
  --interactive-destructive-accent-pressed: var(--swatch-red-700);
  --interactive-destructive-accent-disabled: var(--swatch-red-600-a40);

  /* Border */
  --border-default: var(--swatch-white-a12);
  --border-interactive: var(--swatch-white-a20);
  --border-interactive-emphasis: var(--swatch-white-a40);
  --border-interactive-selected: var(--swatch-white);
  --border-accent: var(--swatch-white-a20);
  --border-accent-emphasis: var(--swatch-white-a40);
  --border-accent-selected: var(--swatch-white);
  --border-info: var(--swatch-blue-500-a08);
  --border-info-emphasis: var(--swatch-blue-600);
  --border-alert: var(--swatch-yellow-400-a08);
  --border-alert-emphasis: var(--swatch-yellow-600);
  --border-success: var(--swatch-green-600-a08);
  --border-success-emphasis: var(--swatch-green-600);
  --border-danger: var(--swatch-red-600-a08);
  --border-danger-emphasis: var(--swatch-red-600);
}
