:root {
  --shadow-0: none;
  --shadow-s: 0 1px 3px -2px oklch(0 0 0 / 0.02), 0 2px 5px -2px oklch(0 0 0 / 0.04);
  --shadow-m: 0 4px 6px -2px oklch(0 0 0 / 0.025), 0 2px 2px -2px oklch(0 0 0 / 0.05);
  --shadow-l: 0 4px 4px -2px oklch(0 0 0 / 0.05), 0 4px 8px -2px oklch(0 0 0 / 0.04);
  --shadow-xl: 0 12px 28px var(--swatch-black-a20);
  --shadow-2xl: 0 20px 44px var(--swatch-black-a24);
  --shadow-3xl: 0 28px 64px var(--swatch-black-a32);
}

:root[data-theme="dark"] {
  --shadow-0: none;
  --shadow-s: 0 1px 2px var(--swatch-black-a40);
  --shadow-m: 0 4px 10px var(--swatch-black-a50);
  --shadow-l: 0 12px 24px var(--swatch-black-a60);
  --shadow-xl: 0 18px 36px var(--swatch-black-a70);
  --shadow-2xl: 0 26px 54px var(--swatch-black-a80);
  --shadow-3xl: 0 34px 72px var(--swatch-black-a96);
}
