:root {
  /* Font families */
  --font-body: "Inter", "Segoe UI", Arial, sans-serif;
  --font-code: var(--font-geist-mono), "SFMono-Regular", Menlo, monospace;
  --font-heading: "Inter", "Segoe UI", Arial, sans-serif;
  --font-label: "Inter", "Segoe UI", Arial, sans-serif;
  --font-numbers: var(--font-geist-mono), "Inter", "Segoe UI", Arial, sans-serif;

  /* Font sizes */
  --font-size-2xs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;
  --font-size-4xl: 32px;
  --font-size-5xl: 36px;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-heavy: 700;

  /* Line heights */
  --line-height-body: 1.5;
  --line-height-heading: 1.25;
  --line-height-heading-large: 1.1;
  --line-height-label: 1.25;
  --line-height-code: 1.5;

  /* Letter spacing */
  --letter-spacing-normal: 0;
  --letter-spacing-tight: -0.1px;
  --letter-spacing-tighter: -0.2px;

  /* Compound typography: body */
  /* Body: extra small */
  --text-body-xs: var(--font-weight-regular) var(--font-size-xs) / var(--line-height-body)
    var(--font-body);
  --text-body-xs-letter-spacing: var(--letter-spacing-normal);
  --text-body-xs-heavy: var(--font-weight-medium) var(--font-size-xs) / var(--line-height-body)
    var(--font-body);
  --text-body-xs-heavy-letter-spacing: var(--letter-spacing-normal);
  /* Body: small */
  --text-body-sm: var(--font-weight-regular) var(--font-size-sm) / var(--line-height-body)
    var(--font-body);
  --text-body-sm-letter-spacing: var(--letter-spacing-normal);
  --text-body-sm-heavy: var(--font-weight-medium) var(--font-size-sm) / var(--line-height-body)
    var(--font-body);
  --text-body-sm-heavy-letter-spacing: var(--letter-spacing-normal);
  /* Body: default */
  --text-body-default: var(--font-weight-regular) var(--font-size-md) / var(--line-height-body)
    var(--font-body);
  --text-body-default-letter-spacing: var(--letter-spacing-normal);
  --text-body-default-heavy: var(--font-weight-medium) var(--font-size-md) / var(--line-height-body)
    var(--font-body);
  --text-body-default-heavy-letter-spacing: var(--letter-spacing-normal);
  /* Body: large */
  --text-body-lg: var(--font-weight-regular) var(--font-size-lg) / var(--line-height-body)
    var(--font-body);
  --text-body-lg-letter-spacing: var(--letter-spacing-normal);
  --text-body-lg-heavy: var(--font-weight-medium) var(--font-size-lg) / var(--line-height-body)
    var(--font-body);
  --text-body-lg-heavy-letter-spacing: var(--letter-spacing-normal);

  /* Compound typography: heading */
  /* Heading: extra small */
  --text-heading-xs: var(--font-weight-bold) var(--font-size-md) / var(--line-height-heading)
    var(--font-heading);
  --text-heading-xs-letter-spacing: var(--letter-spacing-normal);
  /* Heading: small */
  --text-heading-sm: var(--font-weight-bold) var(--font-size-lg) / var(--line-height-heading)
    var(--font-heading);
  --text-heading-sm-letter-spacing: var(--letter-spacing-normal);
  /* Heading: medium */
  --text-heading-md: var(--font-weight-bold) var(--font-size-2xl) / var(--line-height-heading-large)
    var(--font-heading);
  --text-heading-md-letter-spacing: var(--letter-spacing-normal);
  /* Heading: large */
  --text-heading-lg: var(--font-weight-bold) var(--font-size-3xl) / var(--line-height-heading-large)
    var(--font-heading);
  --text-heading-lg-letter-spacing: var(--letter-spacing-tight);
  /* Heading: extra large */
  --text-heading-xl: var(--font-weight-heavy) var(--font-size-4xl) /
    var(--line-height-heading-large) var(--font-heading);
  --text-heading-xl-letter-spacing: var(--letter-spacing-tight);

  /* Compound typography: label */
  /* Label: extra small */
  --text-label-xs: var(--font-weight-regular) var(--font-size-xs) / var(--line-height-label)
    var(--font-label);
  --text-label-xs-letter-spacing: var(--letter-spacing-normal);
  --text-label-xs-heavy: var(--font-weight-medium) var(--font-size-xs) / var(--line-height-label)
    var(--font-label);
  --text-label-xs-heavy-letter-spacing: var(--letter-spacing-normal);
  /* Label: small */
  --text-label-sm: var(--font-weight-regular) var(--font-size-sm) / var(--line-height-label)
    var(--font-label);
  --text-label-sm-letter-spacing: var(--letter-spacing-normal);
  --text-label-sm-heavy: var(--font-weight-medium) var(--font-size-sm) / var(--line-height-label)
    var(--font-label);
  --text-label-sm-heavy-letter-spacing: var(--letter-spacing-normal);
  /* Label: default */
  --text-label-default: var(--font-weight-regular) var(--font-size-md) / var(--line-height-label)
    var(--font-label);
  --text-label-default-letter-spacing: var(--letter-spacing-normal);
  --text-label-default-heavy: var(--font-weight-medium) var(--font-size-md) /
    var(--line-height-label) var(--font-label);
  --text-label-default-heavy-letter-spacing: var(--letter-spacing-normal);
  /* Label: large */
  --text-label-lg: var(--font-weight-regular) var(--font-size-lg) / var(--line-height-label)
    var(--font-label);
  --text-label-lg-letter-spacing: var(--letter-spacing-normal);
  --text-label-lg-heavy: var(--font-weight-medium) var(--font-size-lg) / var(--line-height-label)
    var(--font-label);
  --text-label-lg-heavy-letter-spacing: var(--letter-spacing-normal);

  /* Compound typography: numbers */
  /* Number variables:
     --text-numbers-xs, --text-numbers-xs-heavy
     --text-numbers-sm, --text-numbers-sm-heavy
     --text-numbers-default, --text-numbers-default-heavy
     --text-numbers-lg, --text-numbers-lg-heavy */
  /* Numbers: extra small */
  --text-numbers-xs: var(--font-weight-regular) var(--font-size-xs) / var(--line-height-body)
    var(--font-numbers);
  --text-numbers-xs-letter-spacing: var(--letter-spacing-normal);
  --text-numbers-xs-heavy: var(--font-weight-medium) var(--font-size-xs) / var(--line-height-body)
    var(--font-numbers);
  --text-numbers-xs-heavy-letter-spacing: var(--letter-spacing-normal);
  /* Numbers: small */
  --text-numbers-sm: var(--font-weight-regular) var(--font-size-sm) / var(--line-height-body)
    var(--font-numbers);
  --text-numbers-sm-letter-spacing: var(--letter-spacing-normal);
  --text-numbers-sm-heavy: var(--font-weight-medium) var(--font-size-sm) / var(--line-height-body)
    var(--font-numbers);
  --text-numbers-sm-heavy-letter-spacing: var(--letter-spacing-normal);
  /* Numbers: default */
  --text-numbers-default: var(--font-weight-regular) var(--font-size-md) / var(--line-height-body)
    var(--font-numbers);
  --text-numbers-default-letter-spacing: var(--letter-spacing-normal);
  --text-numbers-default-heavy: var(--font-weight-medium) var(--font-size-md) /
    var(--line-height-body) var(--font-numbers);
  --text-numbers-default-heavy-letter-spacing: var(--letter-spacing-normal);
  /* Numbers: large */
  --text-numbers-lg: var(--font-weight-regular) var(--font-size-lg) / var(--line-height-body)
    var(--font-numbers);
  --text-numbers-lg-letter-spacing: var(--letter-spacing-normal);
  --text-numbers-lg-heavy: var(--font-weight-medium) var(--font-size-lg) / var(--line-height-body)
    var(--font-numbers);
  --text-numbers-lg-heavy-letter-spacing: var(--letter-spacing-normal);

  /* Compound typography: code */
  /* Code: small */
  --text-code-sm: var(--font-weight-regular) var(--font-size-xs) / var(--line-height-code)
    var(--font-code);
  --text-code-sm-letter-spacing: var(--letter-spacing-normal);
  --text-code-sm-heavy: var(--font-weight-heavy) var(--font-size-xs) / var(--line-height-code)
    var(--font-code);
  --text-code-sm-heavy-letter-spacing: var(--letter-spacing-normal);
  /* Code: default */
  --text-code-default: var(--font-weight-regular) var(--font-size-sm) / var(--line-height-code)
    var(--font-code);
  --text-code-default-letter-spacing: var(--letter-spacing-normal);
  --text-code-default-heavy: var(--font-weight-heavy) var(--font-size-sm) / var(--line-height-code)
    var(--font-code);
  --text-code-default-heavy-letter-spacing: var(--letter-spacing-normal);
}
