@use "../../cssUtils.scss" as cssUtils;

.openui-card {
  display: flex;
  flex-direction: column;
  gap: cssUtils.$space-xl;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: cssUtils.$text-neutral-primary;
  @include cssUtils.typography(body, default);

  &-card {
    padding: cssUtils.$space-l;
    border-radius: cssUtils.$radius-3xl;
    border-color: cssUtils.$border-default;
    background-color: cssUtils.$foreground;
    box-shadow: none;
  }

  &-clear {
    padding: 0px cssUtils.$space-l;
    border-radius: cssUtils.$radius-3xl;
    background-color: transparent;
    box-shadow: none;
  }

  &-sunk {
    padding: cssUtils.$space-l;
    border-radius: cssUtils.$radius-3xl;
    background-color: cssUtils.$sunk;
    border-color: cssUtils.$border-default;
    box-shadow: cssUtils.$shadow-m;
  }

  &-standard {
    width: 80%;
  }

  &-full {
    width: 100%;
  }
}
