@use "../../cssUtils" as cssUtils;

.openui-follow-up-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__header {
    color: cssUtils.$text-neutral-secondary;
    border-bottom: 1px solid cssUtils.$border-default;
    padding-top: cssUtils.$space-s;
    padding-bottom: cssUtils.$space-s;
    margin-bottom: cssUtils.$space-m;
  }
}
