@use "../../cssUtils.scss" as cssUtils;

// bar chart css
@forward "./BarChart/barChart.scss";
@forward "./BarChartCondensed/barChartCondensed.scss";
@forward "./HorizontalBarChart/horizontalBarChart.scss";

// area chart css
@forward "./AreaChart/areaChart.scss";
@forward "./AreaChartCondensed/areaChartCondensed.scss";

// line chart css
@forward "./LineChart/lineChart.scss";
@forward "./LineChartCondensed/lineChartCondensed.scss";

// scatter chart css
@forward "./ScatterChart/scatterChart.scss";

// radar chart css
@forward "./RadarChart/radarChart.scss";

// single stacked bar chart css
@forward "./SingleStackedBarChart/singleStackedBarChart.scss";

// pie chart css
@forward "./PieChart/pieChart.scss";

// radial chart css
@forward "./RadialChart/radialChart.scss";

// shared components css
@forward "./shared/XAxisTick/xAxisTick.scss";
@forward "./shared/SVGXAxisTick/svgXAxisTick.scss";
@forward "./shared/DefaultLegend/defaultLegend.scss";
@forward "./shared/StackedLegend/stackedLegend.scss";
@forward "./shared/YAxisTick/yAxisTick.scss";
@forward "./shared/ScrollButtonsHorizontal/scrollButtonsHorizontal.scss";
@forward "./shared/ScrollButtonsVertical/scrollButtonsVertical.scss";
@forward "./shared/LabelTooltip/labelTooltip.scss";

// portal tooltip css
@forward "./shared/PortalTooltip/portalTooltip.scss";

// side bar tooltip css
@forward "./shared/SideBarTooltip/sideBarTooltip.scss";

.openui-chart {
  // Container styles
  &-container {
    display: flex;
    aspect-ratio: 1/1;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;

    .recharts-radial-bar-background-sector {
      fill: cssUtils.$background;
    }

    // Strokes and borders
    .recharts-cartesian-grid line[stroke="#ccc"],
    .recharts-curve.recharts-tooltip-cursor,
    .recharts-polar-grid[stroke="#ccc"],
    .recharts-reference-line[stroke="#ccc"] {
      stroke: cssUtils.$border-default;
    }

    // Transparency settings
    .recharts-dot[stroke="#fff"],
    .recharts-sector[stroke="#fff"] {
      stroke: transparent;
    }

    // Outline resets
    .recharts-layer,
    .recharts-sector,
    .recharts-surface {
      outline: none;
    }
  }
}

.openui-chart-cartesian-grid {
  stroke: cssUtils.$border-default;
}

.openui-chart-polar-grid {
  stroke: cssUtils.$border-default;
}

.openui-chart-label-list {
  fill: cssUtils.$text-neutral-secondary;
}
