.previewWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sizesGrid {
  display: flex;
  flex-direction: column;
  gap: var(--openui-space-xl);
  width: 400px;
  min-width: 400px;
}
